<div class="login-container">

    <!-- Logo -->
    <div class="logo-section">
        <div class="logo-mark">
            <img src="assets/logo/logo1.jpg" alt="💍 Vivah" />
        </div>
        <!-- <div class="logo-text">
            <span class="logo-vivah">Vivah</span>
            <span class="logo-tagline">Your Perfect Wedding Awaits</span>
        </div> -->
    </div>

    <div class="divider">
        <span>✦</span>
    </div>

    <h2>{{ step === 'password' ? 'Agent / Owner Login' : 'Welcome Back' }}</h2>

    <!-- MOBILE STEP -->
    @if (step === 'mobile') {
    <div>

        <label>Enter Mobile Number</label>
        <input type="tel" [(ngModel)]="phone" placeholder="10-digit mobile number" />

        <button (click)="sendOtp()" [disabled]="isLoading">
            {{ isLoading ? 'Sending...' : 'Send OTP' }}
        </button>

        <p class="agent-link">
            Are you an Agent / Owner?
            <span (click)="goToPasswordLogin()">Login here</span>
        </p>

    </div>
    }

    <!-- OTP STEP -->
    @if (step === 'otp') {
    <div>

        <label>Enter OTP</label>
        <input type="text" [(ngModel)]="otp" placeholder="Enter OTP sent to +91 {{ phone }}" />

        <button (click)="verifyOtp()" [disabled]="isVerifying">
            {{ isVerifying ? 'Verifying...' : 'Verify OTP' }}
        </button>

        <!-- Timer -->
        @if (timer > 0) {
        <p class="timer-text">
            Resend OTP in <strong>{{ timer }}s</strong>
        </p>
        }

        @if (timer === 0) {
        <p class="resend" (click)="resendOtp()">
            Resend OTP
        </p>
        }

    </div>
    }

    @if (step === 'password') {
    <div>

        <input type="email" placeholder="Enter email" [(ngModel)]="email" />

        <input type="password" placeholder="Enter password" [(ngModel)]="password" />

        <button (click)="loginWithPassword()">Login</button>

        <p class="agent-link">
            <span (click)="goToOtpLogin()">← Back to User Login</span>
        </p>

    </div>
    }

    @if (errorMessage) {
    <p class="error">
        {{ errorMessage }}
    </p>
    }

</div>