html, body {
  height: auto !important;
  margin: 0;
  padding: 0;
  overflow-y: auto !important;
}

* {
  box-sizing: border-box;
}

button {
  transition: 0.3s;
}

button:hover {
  background: #8e0000;
}

body {
  background: #f5f5f5;
}