.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: #b71c1c;
  color: white;

  .logo {
    font-size: 20px;
    font-weight: bold;
  }

  nav a {
    margin-left: 15px;
    color: white;
    text-decoration: none;
  }
}

.login-btn {
  padding: 8px 16px;
  border-radius: 20px;
  border: 2px solid white;
  background: transparent;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: white;
  color: #b71c1c;
}